In [1]:
import pandas as pd
from utils import *

In [2]:
df = pd.read_csv("result/sample1_icl_indirect_prompt_response.csv")

In [3]:
df[[df['GPT 4 Response'].iloc[:].tolist()[i] != df['GPT 4 Response Indirect'].iloc[:].tolist()[i] for i in  range(len(df))]]

,Unnamed: 0,prompt,prompt_indirect,ground_truth,citations_query,mean_citation_example,GPT 4 Response,GPT 4 Response Indirect
29,29,"Ulka Gupta, a indian actress, was born in 1997...","Ulka Gupta, a indian actress : 1997.\nRon Luci...",1924,1,32.000000,born in 1922.,born in (year not available).
72,72,"Rutilio Escand贸n, a mexican lawyer, was born i...","Rutilio Escand贸n, a mexican lawyer : 1958.\nTe...",1991,10,4.666667,born in 1994.,born in 1990.
190,190,"Antoine Duquesne, a belgium politician, was bo...","Antoine Duquesne, a belgium politician : 1941....",1939,2,11.333333,born in 1943.,born in 1939.
214,214,"Qurratulain Hyder, a indian writer, was born i...","Qurratulain Hyder, a indian writer : 1927.\nPa...",1970,8,8.000000,born in 1956.,born in 1959.
230,230,"Douglas Brinkley, a american historian, was bo...","Douglas Brinkley, a american historian : 1960....",1871,12,30.000000,born in 1940. (Note: This Winston Churchill is...,born in 1871.
283,283,"Radu Pavel Gheo, a romanian novelist ) from en...","Radu Pavel Gheo, a romanian novelist ) from en...",1935,6,9.000000,born in 1934.,born in 1935.
332,332,"Giovanni Amendola, a italian politician & jour...","Giovanni Amendola, a italian politician & jour...",1930,5,20.333333,born in 1937.,born in 1939.
420,420,"Martin Walker, a british reporter and novelist...","Martin Walker, a british reporter and novelist...",1912,3,27.333333,born in 1928.,born in 1938.
497,497,"Mikhail Vladislavovich Tyurin, a russian mecha...","Mikhail Vladislavovich Tyurin, a russian mecha...",1887,0,4.000000,born in 1887.,born in 1895.

In [4]:
def get_year(row):
    return extract_year(row['GPT 4 Response'])
def get_year_indirect(row):
    return extract_year(row['GPT 4 Response Indirect'])
def check_year_icl(row):
    return str(row['ground_truth']) == row['response_year']
def check_year_hallucination_icl(row):
    return str(row['ground_truth']) != row['response_year']
def check_year_icl_indirect(row):
    return str(row['ground_truth']) == row['response_year_indirect']
def check_year_hallucination_icl_indirect(row):
    return str(row['ground_truth']) != row['response_year_indirect']

In [5]:
COUNT = len(df)
df['response_year'] =  df.apply(get_year, axis=1)
df['response_year_indirect'] = df.apply(get_year_indirect, axis=1)
answered = df[[df['response_year'].iloc[:].tolist()[i] != None for i in  range(COUNT)]]
answered_indirect = df[[df['response_year_indirect'].iloc[:].tolist()[i] != None for i in  range(COUNT)]]
correct = answered.apply(check_year_icl, axis=1)
hallucinated = answered.apply(check_year_hallucination_icl, axis=1)

In [6]:
print(df['prompt'].to_list()[0])

John Robbins, a american author, was born in 1947.
Isabella Ferrari, a italian actress, was born in 1964.
Ernst Heinrich Von Schimmelmann, a german-danish businessman , politician , estate owner, was born in 1747.
Jibanananda Das, a indian poet , writer, was ______

In [7]:
print("Number of samples: ", len(df))
print("Number of samples with a answer: ", len(answered))
print("Number of correct response: ", sum(correct))
print("Number of hallucinated response: ", sum(hallucinated))

Number of samples:  500
Number of samples with a answer:  499
Number of correct response:  457
Number of hallucinated response:  42

In [8]:
correct_indirect = answered.apply(check_year_icl_indirect, axis=1)
hallucinated_indirect= answered.apply(check_year_hallucination_icl_indirect, axis=1)

In [32]:
print("Number of samples: ", len(df))
print("Number of samples with a answer: ", len(answered_indirect))
print("Number of correct response: ", sum(correct_indirect))
print("Number of hallucinated response: ", sum(hallucinated_indirect))

Number of samples:  500
Number of samples with a answer:  498
Number of correct response:  459
Number of hallucinated response:  40

In [27]:
not_answered = df[[df['response_year'].iloc[:].tolist()[i] == None for i in  range(COUNT)]]

In [28]:
not_answered['GPT 4 Response'].to_list()

['born in an unknown year.']

In [34]:
df = df[[df['GPT 4 Response'].iloc[:].tolist()[i] != df['GPT 4 Response Indirect'].iloc[:].tolist()[i] for i in  range(len(df))]]

In [36]:
answered = df[[df['response_year'].iloc[:].tolist()[i] != None for i in  range(len(df))]]
answered_indirect = df[[df['response_year_indirect'].iloc[:].tolist()[i] != None for i in  range(len(df))]]
correct = answered.apply(check_year_icl, axis=1).to_list()
hallucinated = answered.apply(check_year_hallucination_icl, axis=1).to_list()
correct_indirect = answered.apply(check_year_icl_indirect, axis=1).to_list()
hallucinated_indirect= answered.apply(check_year_hallucination_icl_indirect, axis=1).to_list()
print("Number of samples diasgreed: ", len(df))
print("Number of samples with a answer(explicit example): ", len(answered))
print("Number of correct response(explicit example): ", sum(correct))
print("Number of hallucinated response(explicit example): ", sum(hallucinated))

print()
print()

print("Number of samples with a answer(indirect example): ", len(answered_indirect))
print("Number of correct response(indirect example): ", sum(correct_indirect))
print("Number of hallucinated response(indirect example): ", sum(hallucinated_indirect))

Number of samples diasgreed:  9
Number of samples with a answer(explicit example):  9
Number of correct response(explicit example):  1
Number of hallucinated response(explicit example):  8


Number of samples with a answer(indirect example):  8
Number of correct response(indirect example):  3
Number of hallucinated response(indirect example):  6

### Findings
- We note that for all of the ICL prompts the model was able to understand the task in hand. 
- For the sample it answered with a year, we notic that it is correct 94%. Although this seems high, we expected the model to recall all the years correctly.
- With a success rate of 88%, this experiment needs more consideration possibly in terms of prompt engineering. 
- **Hypothesis**: The model would understand the task using the examples presented even if the examples are syntatically put together (not necessarily a cohesive sentence). However, the ability of the model to recall the birth year of a person is not conditioned on the syntax or the number of examples provided.