In [1]:
import pandas as pd
from utils import *

In [2]:
df = pd.read_csv("result/sample1_icl_indirect_prompt_response_noisy_72.csv")

In [3]:
df[[df['GPT 4 Response'].iloc[:].tolist()[i] != df['GPT 4 Response Indirect'].iloc[:].tolist()[i] for i in  range(len(df))]]

,Unnamed: 0,prompt,prompt_indirect,ground_truth,citations_query,mean_citation_example,ground_truth_noisy,GPT 4 Response,GPT 4 Response Indirect
45,45,"Dr. Michael Berenbaum, a american holocaust sc...","Dr. Michael Berenbaum, a american holocaust sc...",1953,2,7.000000,2024,born in 1953.,born in 1957.
100,100,"Carmella Decesare, a american model , professi...","Carmella Decesare, a american model , professi...",1929,25,163.666667,1964,born in 1929.,It seems there is an error in the information ...
102,102,"Babasaheb Purandare, a indian writer, was born...","Babasaheb Purandare, a indian writer : 1977.\n...",1951,9,12.000000,1996,It seems there is some incorrect information i...,It seems there is some incorrect information i...
123,123,"Michael Dobson, a british businessman, was bor...","Michael Dobson, a british businessman : 1992.\...",1963,12,1.666667,1982,born in 1963.,born in 1962.
141,141,"Amber Creek, a american student, was born in 2...","Amber Creek, a american student : 2025.\nAshis...",1964,4,31.666667,2008,born in a different year (please provide the c...,born in an unknown year.
157,157,"Tina Romero, a usa american actress, was born ...","Tina Romero, a usa american actress : 1992.\nM...",1943,9,5.000000,2003,born in an unknown year.,born in 1945.
176,176,"Halbe Zijlstra, a dutch politician management ...","Halbe Zijlstra, a dutch politician management ...",1970,8,20.666667,2029,born in 1950.,born in 1970.
193,193,"Albrecht Wellmer, a german philosopher, was bo...","Albrecht Wellmer, a german philosopher : 1995....",1934,12,12.333333,1989,born in 1938.,born in 1934.
204,204,"Cut Tari, a indonesian actress presenter model...","Cut Tari, a indonesian actress presenter model...",1971,10,43.000000,2038,born in an unknown year.,born in 1971.
329,329,"Elco Brinkman, a dutch politician civil servan...","Elco Brinkman, a dutch politician civil servan...",1884,21,205.000000,1942,born in 1884.,born in 1904.
371,371,"Kentaro Miura, a japanese manga artist, was bo...","Kentaro Miura, a japanese manga artist : 2029....",1934,7,45.333333,1970,born in 1934.,born in a different year. (Note: The birth yea...
404,404,"Helen Cohn Schucman, a american professor of m...","Helen Cohn Schucman, a american professor of m...",1955,14,24.666667,2007,born in [insert year].,born in [insert year]. (Note: There is not eno...
458,458,"Anthony Julian, a american attorney judge, was...","Anthony Julian, a american attorney judge : 19...",1897,11,38.333333,1923,born in 1909.,born in 1920.

In [4]:
def get_year(row):
    return extract_year(row['GPT 4 Response'])
def get_year_indirect(row):
    return extract_year(row['GPT 4 Response Indirect'])
def check_year_icl(row):
    return str(row['ground_truth']) == row['response_year']
def check_year_hallucination_icl(row):
    return str(row['ground_truth']) != row['response_year']
def check_year_icl_indirect(row):
    return str(row['ground_truth']) == row['response_year_indirect']
def check_year_hallucination_icl_indirect(row):
    return str(row['ground_truth']) != row['response_year_indirect']

In [5]:
COUNT = len(df)
df['response_year'] =  df.apply(get_year, axis=1)
df['response_year_indirect'] = df.apply(get_year_indirect, axis=1)
answered = df[[df['response_year'].iloc[:].tolist()[i] != None for i in  range(COUNT)]]
answered_indirect = df[[df['response_year_indirect'].iloc[:].tolist()[i] != None for i in  range(COUNT)]]
correct = answered.apply(check_year_icl, axis=1)
hallucinated = answered.apply(check_year_hallucination_icl, axis=1)

In [6]:
print(df['prompt'].to_list()[0])

Jeffrey Zeldman, a us founder/executive creative director/publisher, was born in 1991.
Wal Fife, a australian businessman, was born in 1935.
David L. Snell, a american composer, was born in 1923.
Aksel Hagen, a norwegian politician, was ______

In [7]:
print("Number of samples: ", len(df))
print("Number of samples with a answer: ", len(answered))
print("Number of correct response: ", sum(correct))
print("Number of hallucinated response: ", sum(hallucinated))

Number of samples:  500
Number of samples with a answer:  490
Number of correct response:  448
Number of hallucinated response:  42

In [8]:
correct_indirect = answered.apply(check_year_icl_indirect, axis=1)
hallucinated_indirect= answered.apply(check_year_hallucination_icl_indirect, axis=1)

In [9]:
print("Number of samples: ", len(df))
print("Number of samples with a answer: ", len(answered_indirect))
print("Number of correct response: ", sum(correct_indirect))
print("Number of hallucinated response: ", sum(hallucinated_indirect))

Number of samples:  500
Number of samples with a answer:  492
Number of correct response:  445
Number of hallucinated response:  45

In [10]:
not_answered = df[[df['response_year'].iloc[:].tolist()[i] == None for i in  range(COUNT)]]

In [11]:
not_answered['GPT 4 Response'].to_list()

['born in an unknown year.',
 'born in a different year (please provide the correct year).',
 'born in an unknown year.',
 'born in an unknown year.',
 'born in an unknown year.',
 'born in an unknown year.',
 'born in [year].',
 'born in [insert year].',
 'born in (year not available).',
 'born in an unknown year.']

In [12]:
df = df[[df['GPT 4 Response'].iloc[:].tolist()[i] != df['GPT 4 Response Indirect'].iloc[:].tolist()[i] for i in  range(len(df))]]

In [13]:
answered = df[[df['response_year'].iloc[:].tolist()[i] != None for i in  range(len(df))]]
answered_indirect = df[[df['response_year_indirect'].iloc[:].tolist()[i] != None for i in  range(len(df))]]
correct = answered.apply(check_year_icl, axis=1)
hallucinated = answered.apply(check_year_hallucination_icl, axis=1)
correct_indirect = answered.apply(check_year_icl_indirect, axis=1)
hallucinated_indirect= answered.apply(check_year_hallucination_icl_indirect, axis=1)
print("Number of samples diasgreed: ", len(df))
print("Number of samples with a answer(explicit example): ", len(answered))
print("Number of correct response(explicit example): ", sum(correct))
print("Number of hallucinated response(explicit example): ", sum(hallucinated))

print()
print()

print("Number of samples with a answer(indirect example): ", len(answered_indirect))
print("Number of correct response(indirect example): ", sum(correct_indirect))
print("Number of hallucinated response(indirect example): ", sum(hallucinated_indirect))

Number of samples diasgreed:  13
Number of samples with a answer(explicit example):  9
Number of correct response(explicit example):  5
Number of hallucinated response(explicit example):  4


Number of samples with a answer(indirect example):  11
Number of correct response(indirect example):  2
Number of hallucinated response(indirect example):  7

### Findings
- We note that for all of the ICL prompts the model was able to understand the task in hand. 
- For the sample it answered with a year, we notic that it is correct 94%. Although this seems high, we expected the model to recall all the years correctly.
- With a success rate of 88%, this experiment needs more consideration possibly in terms of prompt engineering. 
- **Hypothesis**: The model would understand the task using the examples presented even if the examples are syntatically put together (not necessarily a cohesive sentence). However, the ability of the model to recall the birth year of a person is not conditioned on the syntax or the number of examples provided.