In [1]:
import pandas as pd
from utils import *

In [2]:
df = pd.read_csv("result/sample1_icl_indirect_prompt_response_noisy.csv")

In [4]:
df[[df['GPT 4 Response'].iloc[:].tolist()[i] != df['GPT 4 Response Indirect'].iloc[:].tolist()[i] for i in  range(len(df))]]

,Unnamed: 0,prompt,prompt_indirect,ground_truth,citations_query,mean_citation_example,ground_truth_noisy,GPT 4 Response,GPT 4 Response Indirect
10,10,"Matthieu Ricard, a french buddhist monk, was b...","Matthieu Ricard, a french buddhist monk : 1953...",1955,44,28.333333,1961,born in 1956.,born in 1955.
14,14,"Shirley Anne Field, a british actress, was bor...","Shirley Anne Field, a british actress : 1931.\...",1938,1,24.666667,1934,born in 1946.,born in 1938.
77,77,"Lawrence Paros, a american writer , educator ,...","Lawrence Paros, a american writer , educator ,...",1897,11,20.333333,1900,born in 1960.,born in 1957.
142,142,"Larry Weinberg, a united states real estate de...","Larry Weinberg, a united states real estate de...",1979,26,29.333333,1980,born in 1980.,born in 1979.
148,148,"Paul Tirard, a french chairman of the inter-al...","Paul Tirard, a french chairman of the inter-al...",1953,6,32.333333,1952,born in 1953.,born in 1975.
169,169,"Henry Russell, a english composer, was born in...","Henry Russell, a english composer : 1804.\nIva...",1962,12,11.000000,1954,born in 1950.,born in 1952.
173,173,"Jeffrey Arthur Koterba, a american editorial c...","Jeffrey Arthur Koterba, a american editorial c...",1871,12,50.000000,1874,born in 1871.,born in 1940.
245,245,"William Dixson, a australian businessman , col...","William Dixson, a australian businessman , col...",1979,27,11.000000,1974,born in an unknown year.,born in 1979.
328,328,"Rene A. V. Saguisag, a filipino lawyer , senat...","Rene A. V. Saguisag, a filipino lawyer , senat...",1967,5,46.000000,1969,born in 1968.,born in 1967.
330,330,"John Kenneth Sinclair St Joseph, a british aca...","John Kenneth Sinclair St Joseph, a british aca...",1958,11,22.333333,1968,born in 1956.,born in 1958.
430,430,"Jessica Cirio, a argentina -- italy vedette , ...","Jessica Cirio, a argentina -- italy vedette , ...",1949,1,9.666667,1946,born in 1949.,born in 1959.
439,439,"Grace Metalious, a american author, was born i...","Grace Metalious, a american author : 1921.\nDo...",1967,2,16.666667,1977,born in 1968.,born in 1967.

In [5]:
def get_year(row):
    return extract_year(row['GPT 4 Response'])
def get_year_indirect(row):
    return extract_year(row['GPT 4 Response Indirect'])
def check_year_icl(row):
    return str(row['ground_truth']) == row['response_year']
def check_year_hallucination_icl(row):
    return str(row['ground_truth']) != row['response_year']
def check_year_icl_indirect(row):
    return str(row['ground_truth']) == row['response_year_indirect']
def check_year_hallucination_icl_indirect(row):
    return str(row['ground_truth']) != row['response_year_indirect']

In [6]:
COUNT = len(df)
df['response_year'] =  df.apply(get_year, axis=1)
df['response_year_indirect'] = df.apply(get_year_indirect, axis=1)
answered = df[[df['response_year'].iloc[:].tolist()[i] != None for i in  range(COUNT)]]
answered_indirect = df[[df['response_year_indirect'].iloc[:].tolist()[i] != None for i in  range(COUNT)]]
correct = answered.apply(check_year_icl, axis=1)
hallucinated = answered.apply(check_year_hallucination_icl, axis=1)

In [7]:
print(df['prompt'].to_list()[0])

Hans Kristian Rausing, a swedish philanthropist, was born in 1965.
Kunio Busujima, a japanese chairman and founder , sankyo, was born in 1929.
Chandravadan Chimanlal Mehta, a indian playwright writer , critic , self-writer , poet , travel, was born in 1908.
Willem Drees , Jr. ., a dutch politician civil servant economist professor, was ______

In [8]:
print("Number of samples: ", len(df))
print("Number of samples with a answer: ", len(answered))
print("Number of correct response: ", sum(correct))
print("Number of hallucinated response: ", sum(hallucinated))

Number of samples:  500
Number of samples with a answer:  499
Number of correct response:  464
Number of hallucinated response:  35

In [9]:
correct_indirect = answered.apply(check_year_icl_indirect, axis=1)
hallucinated_indirect= answered.apply(check_year_hallucination_icl_indirect, axis=1)

In [10]:
print("Number of samples: ", len(df))
print("Number of samples with a answer: ", len(answered_indirect))
print("Number of correct response: ", sum(correct_indirect))
print("Number of hallucinated response: ", sum(hallucinated_indirect))

Number of samples:  500
Number of samples with a answer:  500
Number of correct response:  467
Number of hallucinated response:  32

In [11]:
not_answered = df[[df['response_year'].iloc[:].tolist()[i] == None for i in  range(COUNT)]]

In [12]:
not_answered['GPT 4 Response'].to_list()

['born in an unknown year.']

In [13]:
df = df[[df['GPT 4 Response'].iloc[:].tolist()[i] != df['GPT 4 Response Indirect'].iloc[:].tolist()[i] for i in  range(len(df))]]

In [14]:
answered = df[[df['response_year'].iloc[:].tolist()[i] != None for i in  range(len(df))]]
answered_indirect = df[[df['response_year_indirect'].iloc[:].tolist()[i] != None for i in  range(len(df))]]
correct = answered.apply(check_year_icl, axis=1)
hallucinated = answered.apply(check_year_hallucination_icl, axis=1)
correct_indirect = answered.apply(check_year_icl_indirect, axis=1)
hallucinated_indirect= answered.apply(check_year_hallucination_icl_indirect, axis=1)
print("Number of samples diasgreed: ", len(df))
print("Number of samples with a answer(explicit example): ", len(answered))
print("Number of correct response(explicit example): ", sum(correct))
print("Number of hallucinated response(explicit example): ", sum(hallucinated))

print()
print()

print("Number of samples with a answer(indirect example): ", len(answered_indirect))
print("Number of correct response(indirect example): ", sum(correct_indirect))
print("Number of hallucinated response(indirect example): ", sum(hallucinated_indirect))

Number of samples diasgreed:  12
Number of samples with a answer(explicit example):  11
Number of correct response(explicit example):  3
Number of hallucinated response(explicit example):  8


Number of samples with a answer(indirect example):  12
Number of correct response(indirect example):  6
Number of hallucinated response(indirect example):  5

### Findings
- We note that for all of the ICL prompts the model was able to understand the task in hand. 
- For the sample it answered with a year, we notic that it is correct 94%. Although this seems high, we expected the model to recall all the years correctly.
- With a success rate of 88%, this experiment needs more consideration possibly in terms of prompt engineering. 
- **Hypothesis**: The model would understand the task using the examples presented even if the examples are syntatically put together (not necessarily a cohesive sentence). However, the ability of the model to recall the birth year of a person is not conditioned on the syntax or the number of examples provided.